<div class="signup-container">
    <h2>Registrar usuario</h2>
    <form (ngSubmit)="onSignup()">
      <div>
        <label for="username">Usuario</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" required>
      </div>
      <div>
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <div>
        <label for="confirmPassword">Confirmar contraseña</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
  
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
  
      <button type="submit">Registrar</button>
    </form>

    <div class="login-redirect">
      <p>¿Ya estás registrado?
        <a routerLink="/login">Inicia sesión</a>
      </p>
    </div>
  </div>
  